sv-ttk
tkinterdnd2
packaging
torch
torchvision
ultralytics
opencv-python
numpy
numba
scipy
rawpy
pillow
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
ImageHash
pi_heif
librosa
soundfile
scikit-learn
pyinstaller
tqdm
